.navbar{
    display:flex;
    justify-content:space-between;
    padding: 1em 3em .5em 3em;
    align-items:center;
    background:#3F4B3B;
    text-transform:capitalize;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 5px 10px 5px; */
}
.hamburger{
   opacity:0;
   display:none;
}

.logo{
    width:7%;
}

.links li{
    margin-left:.75em;
    color:white;
    font-size: 125%;

}
.links {
    list-style:none;
    display: flex;
    flex-direction:row;
    font-family: 'Exo 2', sans-serif;

}

.hamLinks{
    opacity:0;
}




@media(max-width:700px){
/* hammburger menu */
/* hammburger menu */


.links{
    display:none;
}

.logo{
    width:18%;
}

.navbar{
    padding: .75em 1.5em .5em 1.5em;
    position: fixed;
    z-index: 40;
    width: 100%;
}

.hamburger{
    height:auto;
    opacity:1;
    display:block;
}

.close{
    padding-right:8px;
    display:none;
}


/* hamburger button */
/* hamburger button */
.hIcon div{
    height:1px;
    width:75%;
    background:white;
    /* margin: 6px auto; */
}

.hIcon{
    width:35px;
    height: 35px;
    border:1px solid grey;
    border-radius:6px;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    
}

/* hamburger dropdown menu */
/* hamburger dropdown menu */


    .hamLinks li{
        margin:0 auto;
        font-size:130%;
    }

    .navActive{
        right:0;
    }
    .nonActive{
        right:-157px;

    }

    .hamLinks{
        position:fixed;
        list-style:none;
        display:flex;
        justify-content:space-evenly;
        flex-direction:column;
        height:240px;
        width:150px;
        margin-top:7px;
        background:#3F4B3B;
        z-index:40;
        transition: all 0.2s;
        opacity:1;
        color:white;
        font-family:'Exo 2',  sans-serif;
        text-transform:capitalize;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 11px 10px 5px;
    }
}

@media(min-width:1440) and (max-width:1920px){

}