.navbar{
    display:flex;
    justify-content:space-between;
    padding: .5em 1.5em .5em 1.5em;
    align-items:center;
    background:#3F4B3B;
}

.logo{
    width:7%;
}

.links li{
    margin-left:.75em;
    color:#74F2CE;
}
.links {
    list-style:none;
    display: flex;
    flex-direction:row;
}
