.aboutMe{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background: rgb(59, 65, 75);
}

.picture{
    width: 40%;
    height: 80%;
    object-fit:cover;
    object-position: 50% 0%;
}

.specialty{
    margin-top: 2em;
    margin-bottom: 2em;

}

.bio{
    max-width: 60%;
    background: linear-gradient(#3F4B3B, rgb(59, 65, 75));
}

.bioSquare h2{
    font-size:190%;
    font-family: 'Exo 2', sans-serif;
    padding-bottom:.5em;
    text-transform:capitalize;

}
.bioSquare{
    max-width: 75%;
    margin:1em auto 0em auto;
    color: white;
    font-size:160%;
}

.certified{
    margin-top: 1.5em;
}


@media(max-width:1500px){
    .bioSquare{
  
        font-size:130%;
    }
}


@media(max-width:700px){
    .bioSquare {
        max-width: 100%;
        margin: 1em .5em 0 .5em;
        color: white;
        font-size: 95%;
    }

    .picture{
    width: 40%;
    height: auto;
    object-fit:cover;
    max-height:1000px;
    object-position: 63% 0%;
}
}