.header{
    position: relative;
    height: 100vh;
    background: #3F4B3B;
    padding-bottom:4em;
}
.pip{
    position: relative;
    background: url(/images/golden-hour.jpg);
    background-position: center;
    background-size: cover;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.heroBox{
    position: relative;
    padding: 1.25em;
    text-align: center;
    display: inline-block;
    background: black;
    color:white;
    box-shadow: 0px 3px 5px 3px rgb(0 0 0 / 59%);
    text-transform: capitalize;
    font-family: 'Exo 2', sans-serif;

}
