.footerf{
    background:rgb(59, 65, 75);

}

.footer{
    margin:0 auto;
    padding: 1.5em .5em 0 .5em;
    width:75%;
    height:8em;
    display:flex;
    justify-content:space-between;
}

.fLine{
    border-top:1px solid #74F2CE;
    margin:0 auto;
    width:75%;
}

.iconGroup p{
    margin:0 1em 0 0;
    color:#BFFFF1;
}
.iconGroup{
    display:flex;
}

.fIcon{
    height:40%;
    color:#74F2CE;
    margin:0 1em 0 0;

}

.trademark{
    /* color:#BFFFF1; */
    color:#74F2CE;

}