.mainContainer{
    display:flex;
    flex-direction:column;
    width:100%;
    background:rgb(59, 65, 75);
    align-items:center;
    font-size:120%;
    color:white;
    height:600px;
    justify-content:center;
}


.processTitle{
    font-size:145%;
    margin-bottom:1.5rem;
    font-family:'Exo 2', san serif;
}

.processContainer{
    display:flex;
    flex-direction:column;
}

.rowProcess h2{
    color:#8fe7f7;
    margin-bottom:.25em;
    font-family:'Exo 2', sans-serif;

}

.rowProcess{
    display:flex;
    flex-direction:row;
}

.pLine{
    width:60%;
    border-bottom:1px solid #74F2CE;
    margin:0 auto;
    height:2px;
    justify-self:start;
}

.item {
    width:350px;
    height:auto;
    display:flex;
    flex-direction:column;
    margin:2rem;
}

@media(max-width:700px){

    .mainContainer{
        padding:5rem 0;
        height:auto;
    }
    .rowProcess{
        flex-direction:column;
    }

    .item{
        margin:1.5rem;
    }

    .processTitle{
        margin-left:1.5rem;
    }
}
