.proInfo{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 4em;
    background:rgb(59, 65, 75);
}

.proInfoContainer {
    position: relative;
    padding: 6em 3em;
    display: flex;
    /* justify-content: space-around; */
}

.respo {
    justify-content: space-between;
}

.imgContainer {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.bioSquare p {
    font-size:120%;
}
.bioSquare h2 {
    font-family: 'Exo 2', sans-serif;
    padding-bottom: 0.5em;
    color: #8fe7f7;
    font-size: 2.5em;
}
.bioSquare {
    max-width: 50%;
    color:white;
}

.bs5{
}

@media(max-width:700px){
    .imgContainer {
        flex-direction:column;
    }

    .bioSquare {
        max-width: 100%;
        color:white;
    }

}