.juiceHead{
        background: url(/images/sign.jpg);
        background-position: center;
        background-size: cover;
}

.headerTwo{
   
        position: relative;
        height: 550px;
        width: 100%;
        background: url(/images/sign.jpg);
        background-position: center;
        background-size: cover;

}
.void p{
        color:white;
        font-size:85%;
}
.void h1{
        color: #8fe7f7;
        font-family:'Exo 2', sans-serif;
        font-size: 2em;
        margin: 0.67em 0;
}
.void{
        background: black;
        height: auto;
        z-index:30;
        position: relative;
        max-width: 450px;
        /* padding-top: 2em; */
        text-align: center;
        top: 20%;
        display: inline-block;
        font-size: 1.25rem;
        -webkit-box-shadow: 1px 3px 4px 5px rgba(19, 19, 19, 0.562);
        -moz-box-shadow: 1px 3px 4px 5px rgba(19, 19, 19, 0.562);
        box-shadow: 1px 2px 3px 4px rgba(19, 19, 19, 0.562);
}

.v2{
        padding:1.25em 1em;
        text-align: left;
        /* left: 15%; */
}

.btn {
        display: inline-block;
        background: #B3001B;
        padding: 0.25em .75em;
        margin-top: 1.5em;
        border-radius: 4px;
        color:white;
}
