.proInfoContainer {
    position: relative;
    padding: 6em 3em;
    display: flex;
    justify-content: space-around;
    padding-bottom:7em;
    align-items:center;
}

.bs2 h2{
    font-size:2rem;
    margin-bottom:.25em;
    font-family:'Exo 2', sans-serif;
    text-transform:capitalize;
}
.bs2 {
    position: relative;
    max-width: 600px;
    margin: 0;
    font-size:1.20rem;

}

.proInfo{
    background:rgb(59, 65, 75);
    color:white;
    padding:5em 0;
}

.proInfo img {
    position: relative;
    max-width: 600px;
    border: 1px solid #8fe7f7;
}

.imgContainer {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

.bs3 h2{
    font-size:2rem;
    margin-bottom:.25em;
    font-family:'Exo 2', sans-serif;
    text-transform:capitalize;
}
.bs3 {
    transform: translate(0, 50%);
    position: absolute;
    max-width: 650px;
    margin: 0;
    height: auto;
    left: 11%;
    font-size:1.20rem;

}

.respo {
    justify-content: space-between;
}

.imgContainer {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}



@media(max-width:700px){
    .imgContainer{
        flex-direction:column;
        justify-content:space-evenly;
        align-items:center;
        margin-bottom:3em;
    }

    .proInfoContainer{
        flex-direction:column-reverse;

        padding:4em 1.5em;
    }

    .proInfo img{
        margin:1.5em 3em;
    }
    .proInfo{
        padding:0;
    }

    .bs3 h2{
        text-align:center;
    }
    .bs3{
        position:relative;
        transform:none;
        left:0;
    }

}